double soma;
            double numero1;
            double numero2;
            double total;
            string operacao;


            total = 0;
            operacao = "+";

            Console.Write("Digite o primeiro numero:");
            numero1 = Convert.ToDouble(Console.ReadLine()); 


            Console.Write("Digite a operação:");
            operacao = Console.ReadLine(); 
                  
            Console.WriteLine("Digite o Segundo numero:"); 
            numero2 = Convert.ToDouble(Console.ReadLine());

            soma = 0; 

            
                switch (operacao)
                {
                    case "+": total = numero1 + numero2;
                        break;

                    case "-": total = numero1 - numero2;
                        break;
                    case "/": total = numero1 / numero2;
                        break;

                    case "*": total = numero1 * numero2;
                       
                        break;
            }

             Console.WriteLine(" ");
            
            Console.WriteLine("O Resultado é:" + total);
            Console.ReadKey();
           

           
